Description=Run capable to capture capabilities

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/share/bcc/tools/capable -UK
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target